@model IEnumerable<BlogMVC.Models.Entities.Blog>

@{
    ViewBag.Title = "Blogs";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        @foreach (var blog in Model)
        {
            <a href="@Url.Action("Index", "Post", new {blogId = blog.Id, name = blog.Name})">
                <div class="col-mb-4 mb-4">
                    <div class="card">
                        <img src="@blog.ProfilePicture" class="card-img-top" alt="Blog Profile Picture">
                        <div class="card-body">
                            <h5 class="card-title">@blog.Name</h5>
                            <p class="card-text overflow-text">@blog.Description</p>
                            <p class="card-subtitle">@blog.Owner.UserName</p>

                        </div>
                    </div>
                </div>
            </a>
            
        }
        @{
            if (User.Identity is { IsAuthenticated: true })
            {
                <a href="@Url.Action("Create", "Blog")" class="btn btn-primary">Create Blog</a>
            }
        }
    </div>
</div>