@using Azure.Core
@model IEnumerable<BlogMVC.Models.ViewModels.PostsViewModel>

@{
    ViewBag.Title = ViewBag.Title ?? "Blog";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        @foreach (var post in Model)
        {
            <a href="@Url.Action("Index", "Comment", new {postId = post.Id, title = post.Title})">
                <div class="col-mb-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text overflow-text">@post.Content</p>
                            <p class="card-subtitle">Last modified: @post.Modified</p>
                            <p class="card-subtitle">Created: @post.Created</p>
                            <p>Comments: @post.CommentCount</p>
                        </div>
                    </div>
                </div>
            </a>
            
        }
        @{
            if (ViewBag.CanCreatePost)
            {
                <a href="@Url.Action("Create", "Post", new {blogId = Model.First().BlogId})" class="btn btn-primary">Create New Post</a>
            }
        }
    </div>
</div>